.tab {
    background-color: rgb(28, 28, 28);
    color: white;
    width: 120%;
    border-radius: 8px;
    border: 2px solid transparent;
}

.genre-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.tab:hover {
    background-color: rgba(28, 28, 28, 0.8);
}

.tab.active {
    border: 2px solid rgba(255, 255, 255, 0.25);
}